body{
	font-size: 65%;
	font-family: Tahoma, Geneva, sans-serif;
	background: #39150C url(img/paper_1332008.jpg) no repeat fixed to top center;
	padding:0;
	margin:0;
	background: lightyellow;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

h1{
	color: #2BA967;	
	font-size:2em;
	margin:0.5em 0 0.5em 0;
	padding:0;
}

h2{
	color: #745b2f;	
	font-size:1.7em;
	margin:0.5em 0 0.35em 0;
	padding:0;

p{
	font-size: 1.2em;
	line-height: 1.4em;
	color:#555;
	padding:0;
	margin:0 0.5em 0.75em 0;
}

ol{
	font-size: 1.2em; 
	margin:0 0 0 1.0em;
	padding: 0 0 0 1.0 em;
}

ol li{
	margin:0;
	padding: 0 0 0 0.2em;
}

a, a:visited{
	color:#c64322;
}

a hover{
	color: #333;
}

hr{
	padding: 0;
	margin: 1.5em 1.5em 1.75em 0.5em
}

.contentWrapper{
margin: 0 auto;
max-width:1170px;
padding: 0 3.0em;
}

.left{
	float:left;
}

.right{
	float:right;
}

/*Header*/

header{
	padding: 2.5em o 0.5em;
	margin: 0 0 2em;
	background: #39150c; url (img/bg_cheese_lg_2600w.jpg) center 0px;
}

header h1{
	font-family: "Times New Roman", Times, Serif;
	color: #745b2f;
	font-size: 7.5em;
	letter-spacing: -0.025em;
	margin: 0;
}

header h2 {
	font-weight:300;
	font-size: 3.8em;
	color: #2ba967;
	margin: -0.4em 0 0 1.0em;
	text-transform: uppercase;
	letter-spacing: 0.025em
}
/* Nav Bars*/
nav{
color: #000;
font-size:1.7em;
letter-spacing:0.04em;
padding:1 1 0.5 1;
margin:0;
}

nav ul{
	margin:0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin:0;
}

nav li a, nav li a:visited {
	text-decoration: none;
	color: #64322;
	padding: 0.3em 0.6em;
}

nav li a:hover{
	color: #C64322;
	background-color: rgba(252,251,243,0.75);
}











/* Sidebar Section */


/* Main Section */


/* Footer */